
.container {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 15px;
        width: 75%;
        
 }
 #display{
     background-color: navy;
     color: white;
 }
 
 thead{
     padding: 20px;
     width:100%;
 }
 
 th{
     margin-right: 50px;
 }
 #info{
     min-height: 500px;
 }

 #stockdetails{
    background-color: navy;
    color: white;
 }

 .para{
     font-size: 20px;
     margin-left: 50px;
     margin-top: 50px;
     
     font-weight: bold;

 }
 
 #stockcontent{
     font-size: 20px;
     line-height: 2.0;
     
     
 }
 .urlclass{
     margin-bottom: 50px;
 }